# Virtual environments
venv/
.venv/

# Environment variables & secrets
.env
.recon_llm_config.json

# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc

# Generated scan reports
src/reports/*.json
src/reports/*.pdf
